##### Configuration for  PLC Client with Postgres, installed on localhost #####
datana:
  global:
    debug: true
    log:
      # уровень вывода логов
      level: INFO
    beauty-json: true
  plc-server:
    sleep-on-fatal-error: 30000
    # адрес PLC Сервера
    url-server: http://localhost:8080/
    ###url-server: http://192.168.1.33:8080/
    # колличество опросов сервера а потом завершить работу
    # если меньше нуля тогда вечный цикл
    loop-count: 100
    # ожидание после кажного цикла в миллисекундах
    sleep-ms: 500
  database-options:
    postgresql-get-function: "select cast( datalake.plc_get_config(cast ('{\"action\": \"plc_get_proxy_client_config\",\"params\": {\"task_id\": 1}}' as json)) as text)"
    postgresql-save-function: "select cast (datalake.plc_proxy_client_save_response( cast(:fromJson as json)) as text)"
  spring:
    datasource:
      driver-class: org.postgresql.Driver
      jdbcUrl: "jdbc:postgresql://localhost:5432/datana"
      username: postgres
      password: 1
      schema: datalake

### НИЖЕ НЕ РЕДАКТИРОВАТЬ ПОЛЬЗОВАТЕЛЯМ !!!! ####
spring:
  main:
    web-application-type: none
    banner-mode: off
  datasource:
    driver-class: ${datana.spring.datasource.driver-class}
    driver-class-name: ${datana.spring.datasource.driver-class}
    hikari:
      auto-commit: true
      connection-timeout: 60000
      maximum-pool-size: 5
      schema: ${datana.spring.datasource.schema}

    password: ${datana.spring.datasource.password}
    testWhileIdle: true
    url: ${datana.spring.datasource.jdbcUrl}
    jdbcUrl: ${datana.spring.datasource.jdbcUrl}
    username: ${datana.spring.datasource.username}
    validationQuery: SELECT 1
  jpa:
    properties:
      hibernate:
        dialect: ru.datana.steel.plc.db.DatanaJsonPostgreSQLDialect
### logging ###
logging:
  level:
    root: ${datana.global.log.level}
    executableSql: ${datana.global.log.level}
    org:
      apache:
        tomcat:
          util: INFO
      hibernate:
        engine:
          transaction: ${datana.global.log.level}
        SQL: ${datana.global.log.level}
      springframework:
        web: ${datana.global.log.level}
    ru:
      datana: DEBUG
    sun: INFO
    javax: INFO
  file:
    name: ${app.dir}/client-logs/plc-client.log
    max-size: 16 MB
    total-size-cap: 128 MB
  pattern:
    rolling-file-name:  ${app.dir}/archive-client-logs/plc-client-archive.%d{yyyy-MM-dd}.%i.log



