<?xml version='1.1' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.14">
    <actions/>
    <description>kostya testing first</description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.13">
            <gitLabConnection>my gitlab</gitLabConnection>
        </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    </properties>
    <scm class="hudson.plugins.git.GitSCM" plugin="git@4.2.2">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>https://gitlab.dds.lanit.ru/datana_smart/tools-adapters/</url>
                <credentialsId>kakunin</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>Generator_REST_BY_SIEMENS</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions/>
    </scm>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <axes>
        <hudson.matrix.JDKAxis>
            <name>jdk</name>
            <values>
                <string>jdk13</string>
            </values>
        </hudson.matrix.JDKAxis>
    </axes>
    <builders>
        <hudson.tasks.Maven>
            <targets>clean compile package spring-boot:repackage -P plcServer</targets>
            <mavenName>maven3</mavenName>
            <usePrivateRepository>false</usePrivateRepository>
            <settings class="jenkins.mvn.DefaultSettingsProvider"/>
            <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
            <injectBuildVariables>false</injectBuildVariables>
        </hudson.tasks.Maven>
        <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@2.4">
            <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CreateImageCommand">
                <dockerFolder>$WORKSPACE</dockerFolder>
                <imageTag>kmtemp/datana</imageTag>
                <dockerFile>Dockerfile</dockerFile>
                <pull>false</pull>
                <noCache>false</noCache>
                <rm>false</rm>
                <buildArgs></buildArgs>
            </dockerCmd>
        </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
        <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@2.4">
            <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.RemoveCommand">
                <containerIds>kmtemp</containerIds>
                <ignoreIfNotFound>true</ignoreIfNotFound>
                <removeVolumes>false</removeVolumes>
                <force>true</force>
            </dockerCmd>
        </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
        <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@2.4">
            <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CreateContainerCommand">
                <image>kmtemp/datana</image>
                <command></command>
                <hostName>localhost</hostName>
                <containerName>kmtemp</containerName>
                <envVars></envVars>
                <links></links>
                <exposedPorts></exposedPorts>
                <cpuShares></cpuShares>
                <memoryLimit></memoryLimit>
                <dns></dns>
                <extraHosts></extraHosts>
                <publishAllPorts>false</publishAllPorts>
                <portBindings></portBindings>
                <bindMounts></bindMounts>
                <privileged>false</privileged>
                <alwaysRestart>false</alwaysRestart>
            </dockerCmd>
        </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
        <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@2.4">
            <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.PushImageCommand">
                <dockerRegistryEndpoint plugin="docker-commons@1.16">
                    <url>https://hub.docker.com/repository/docker/kmtemp/datana</url>
                    <credentialsId>kdocker</credentialsId>
                </dockerRegistryEndpoint>
                <image>datana</image>
                <tag>latest</tag>
                <registry>kmtemp</registry>
            </dockerCmd>
        </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    </builders>
    <publishers/>
    <buildWrappers/>
    <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
        <runSequentially>false</runSequentially>
    </executionStrategy>
</matrix-project>